{% extends 'base.html.twig' %}

{% block title %}New Status{% endblock %}

{% block body %}
    <h1 style="font-family: Optima">Create new Status</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="a">
        {{ include('status/_form.html.twig') }}
        <a href="{{ path('status_index') }}" class="btn btn-info">Back to list</a>
    </div>
{% endblock %}
