{% extends 'base.html.twig' %}

{% block title %}Status{% endblock %}

{% block body %}
    <h1 style="font-family: Optima">Status</h1>
    <div class="a">
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ status.name }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-start">
            <a href="{{ path('status_index') }}" class="btn btn-info">Back to list</a>
            &nbsp
            <a href="{{ path('status_edit', {'id': status.id}) }}" class="btn btn-secondary">Edit</a>
            &nbsp
            {{ include('status/_delete_form.html.twig') }}
            &nbsp
        </div>
    </div>
{% endblock %}
