{% extends 'base.html.twig' %}

{% block title %}Status | SI2001{% endblock %}

{% block body %}
    <div class="alert alert-danger" style="color: red">
        <b>Access denied, you don't have permission to access!</b>
    </div>
    <a href="{{ path('user_index') }}" class="btn btn-info">Back to list</a>
{% endblock %}