{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <h1>Create new Skill</h1>

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ include('skill/_form.html.twig') }}
    <a href="{{ path('skill_index') }}" class="btn btn-info">Back to list</a>
{% endblock %}
